*{
    padding: 0;
    margin: 0;
    font-family: 'poppins';
    font-size: 18px;
    font-weight: 400;
}

:root {
    --primary-color: hsl(322, 100%, 66%);
}


h1, h3, h4{
    font-weight: 600;
}
a{
    text-decoration: none;
    color: hsl(208, 11%, 55%);
}

.hero-container{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
}

.b-img{
    background-image:linear-gradient(rgba(163, 179, 173, 0.4),rgb(163, 179, 173,0.4)),url(./img-files/bg-hero-desktop.svg);
    background-size: cover;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav .nav-menu {
    justify-content: space-between;
    margin: 0 10px 0 10px;
    padding: 2.5rem 3rem 0 3rem;
}

.nav-img img{
    width: 200px;
    padding-top: 8px;
}

.nav-brand{
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 10px 35px 10px 35px;
    font-weight: bold;
    background-color: #ffffff;
}

@media only screen and (max-width:760px){
    .nav-img img{
        width: 100px;
    }
    
    .nav .nav-menu {
        padding: 1rem 1rem 0 1rem;
        position: static;
    }
    
    .nav-brand{
        padding: 5px 15px 5px 15px;
    }
    
    .hero-container{
        display: block;
    }
}

.hero-box{
    height: 100%;
    position: relative;
}

/*----------------------header---------------------------*/
.hero-container > div {
    flex-grow: 1;
    flex-basis: 0;
    padding:3rem ;
}

.main-img img{
    width: 700px;
}

.hero-text{
    margin-top: 150px;
}

.hero-text h1{
    margin-bottom: 20px;
    font-size: 30px;
}


.hero-btn {
    color: #ffffff;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    background-color: var(--primary-color);
    width: 45%;
    padding: 10px 30px 10px 40px;
    margin-top: 10px;
}

.p-btn {
    margin-top: 35px;
}

    
@media only screen and (max-width:375px){
    .main-img img{
        width: 100%;
    }

    .hero-btn {
        width: 55%;
        margin-left: 35px;
        padding-right:25px ;
    }
    
    .hero-container > div {
        padding:2rem ;
    }
    
    .hero-text{
        margin-top: 10px;
    }
    
    .hero-text span{
        padding-left: 6px;
    }

    .hero-text h1{
    font-size: 30px;
    }

.hero-text p{
    font-weight: normal;
   }

}

/*---------------x------header---------x-----------------*/


/*----------------------main---------------------------*/
.main {
      margin: 100px 50px 50px 50px;
}

.grid-container{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    padding: 3rem;
    box-shadow:  0 5px 10px rgba(212, 193, 193, 0.5);
    margin-bottom: 30px;
}

.left-grid img {
    width: 70%;
}

.right-grid h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.right-grid p{
    font-size: 20px;
    color: hsl(208, 11%, 55%);
}

.right-grid-con{
    padding-left: 50px;
}
.right-grid-con h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.right-grid-con p{
    font-size: 20px;
    color: hsl(208, 11%, 55%);
}

.left-grid-users img {
    width: 100%;
    padding-left: 30px;
}
.cta{
    text-align: center;
    border:1px solid #ffffff; 
    border-radius: 5px;
    margin: 0 300px 0 300px;
    background: #ffffff;
    position:relative ;
    bottom:-40px ;
    padding:20px 0 20px 0 ;
}
.cta h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.cta-btn{
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    margin: 0 200px 0 200px;
    padding: 10px 0 10px 0;
    background: var(--primary-color);
    color: #ffffff;
}



@media only screen and (max-width:375px){
    .grid-container{
        display:block;
        padding: 1rem;
        box-shadow:  0 5px 10px rgba(212, 193, 193, 0.5);
        margin-bottom: 30px;
    }

    .grid-container h3 {
        text-align: center;
        font-size: 22px;
    }
    .grid-container p {
        text-align: center;
        font-size: 16px;
    }
    
    .left-grid img {
        width: 100%;
    }

        .cta{
            text-align:center ;
            border: 1px solid white; 
            border-radius: 5px;
            margin: 0 10px 0 10px;
            background: #ffffff;
            position:relative ;
            bottom: -130px; ;
            padding-bottom:20px ;
            box-shadow:  0 5px 10px rgba(212, 193, 193, 0.5);
        }
        
        .cta h3{
            font-size: 18px;
        }
        
        .cta-btn{
            border: 1px solid var(--primary-color);
            border-radius:50px ;
            margin: 0 50px 0 50px;
            padding:5px;
            background:var(--primary-color) ;
            color: #ffffff;
        }


        
    
}
.footer{
    height: 100%;
    background:hsl(192, 100%, 9%) ;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 0 0 20px;
    font-size: 20px;
    color: #ffffff;
}

.container > div {
    flex-grow: 1;
    flex-basis: 0;
    padding:2rem ;
    margin-top: 90px;
}


.huddle-logo {
    margin-bottom: 50px;

}


.location-icon {
    margin-bottom: 40px;
    color: #ffffff;
}
.location-icon p{
    position: relative;
    margin-left: 20px;
    padding-left: 15px;
}

.location-icon p:before{
    content: '';
    left: -2em;
    position: absolute;
    width: 21px;
    height:30px;
    background-image: url(./img-files/icon-location.svg);
    background-size: cover;
}

.phone-icon{
    margin-bottom: 40px;
    color: #ffffff;
}
.phone-icon p{
    position: relative;
    margin-left: 20px;
    padding-left: 15px;
    padding-right: 50px;
}

.phone-icon p:before{
    content: '';
    left: -2.5em;
    position: absolute;
    width: 33px;
    height:30px;
    background-image: url(./img-files/icon-phone.svg);
    background-size: cover;
    margin-bottom: 0px;
}

.email-icon{
    margin-bottom: 80px;
    color: #ffffff;
}
.email-icon p{
    position: relative;
    margin-left: 20px;
    padding-left: 15px;
}

.email-icon p:before{
    content: '';
    left: -2.5em;
    position: absolute;
    width: 30px;
    height:24px;
    background-image: url(./img-files/icon-email.svg);
    background-size: cover;
}


.container .footer-item2 {
    margin-top: 180px;
    margin-left: 50px;
}
.container .footer-item3 {
    margin-top: 180px;
    margin-left: 50px;
}
.container .footer-item4 {
    margin-top: 180px;
    margin-left: 50px;
}
.container .footer-item4 .fa{
        color: #ffffff;
        margin: 0 13px 40px 0px;
        padding: 18px 0;
        cursor: pointer;
        border: 1px solid #ffffff;
        border-radius: 50%;
        padding: 4px;
    
}

.container .footer-item4 .fa:hover{
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
}

.copywrite{
    margin: 0 10px 0px 900px;
    color: #ffffff;
    position: relative;
    bottom: 125px;
}

@media only screen and (max-width:375px){
    .container{
        display: block;
        margin: 0;
        font-size: 18px;
        color: #ffffff;
    }
    
    .container > div {
    
        padding: 10px 0 0 50px;
        margin-top: 6rem 0 0 0;
    }

    .huddle-logo{
        padding-top: 80px;
    }

    .huddle-logo img{
        width: 150px;
        margin-right: 150px;
    }

    .container .footer-item1 {
        margin-left: 30px;
    }
    .container .footer-item2 {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 40px;
    }
    .container .footer-item3 {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 40px;
    }
    .container .footer-item4 {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 40px;
    }
    .copywrite{
        margin: 0 0px 0px 30px;
        color: #ffffff;
        position: relative;
        bottom: 50px;
    }

    .container .footer-item4 .fa{
        color: #ffffff;
        margin: 0 13px 40px 0px;
        padding: 18px 0;
        cursor: pointer;
        border: 1px solid #ffffff;
        border-radius: 50%;
        padding: 4px;
        position: relative;
        left: 80px;
}

    
}
/*----------------------main---------------------------*/
